<%- self.page_title = h(@scotch.name) %>

<dl>
  <dt>Age</dt>
  <dd><%= h(@scotch.age) %></dd>
</dl>

<% if @scotch.notes.any? %>
  <h3>Have you had this scotch? What say you?</h3>

  <%= render :partial => 'note_form' %>
<% end %>

<h3>Here's what others are saying</h3>

<%- if @scotch.notes.present? -%>
  <% @scotch.notes.each do |note| -%>
    <% div_for note do %>
      <p><%= link_to h(note.user), note.user %> wrote:</p>
      <blockquote><%= simple_format note.body %></blockquote>
    <% end %>
  <% end -%>
<%- else %>
  <p>Er... or how about this... you could be the first!</p>

  <%= render :partial => 'note_form' %>
<%- end %>
