
<dl>
  <dt>Age</dt>
  <dd><%= @scotch.age %></dd>
</dl>

<% @scotch.notes.each do |note| -%>
  <div>
    <%= simple_format note.body %>
  </div>
<% end %>

<%- semantic_form_for [@scotch, @note] do |form| %>
  <%= form.errors %>
  <% form.inputs do %>
    <%= form.input :body %>
  <% end %>

  <%= form.buttons :commit %>
<% end %>
