<html>
  <head>
    <%= stylesheet_link_tag 'blueprint/screen.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'blueprint/print.css', :media => 'print' %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'blueprint/ie.css', :media => 'screen, projection' %>
    <![endif]-->
    <%= stylesheet_link_tag 'formtastic', 'formtastic_customizations' %>
    
  </head>
  <body>
    <% container do %>
      <% column :full do %>
        <h1>The Scotch Zone</h1>
      <% end %>

      <% column :three_fourths do %>
        <%= link_to "Scotches", scotches_path %>
      <% end %>

      <% column :one_fourth, :last do %>
        <% if signed_in? %>
          <%= link_to 'Sign out', sign_out_path %>
        <% else %>
          <%= link_to 'Sign in', sign_in_path %>
        <% end %>
      <% end %>


      <% column :full do %>
        <%= yield %>
      <% end %>
    <% end %>
  </body>
</html>

