<html>
  <head>
    <title><%= page_title %> @ The Scotch Zone</title>
    <%= stylesheet_link_tag 'blueprint/screen.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'blueprint/print.css', :media => 'print' %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'blueprint/ie.css', :media => 'screen, projection' %>
    <![endif]-->
    <%= stylesheet_link_tag 'formtastic', 'formtastic_customizations' %>
    <%= stylesheet_link_tag 'application' %>
    
  </head>
  <body>
    <div class="container">
      <div id="heading" class="column span-24">
        <h1>The Scotch Zone</h1>
      </div>

      <div id="navigation" class="column span-24">
        <div class="column span-18">
          <ul>
            <li>
              <%= link_to 'Home', root_path %>
            </li>
            <% if signed_in? -%>
              <li>
                <%= link_to 'My Shelf', current_user %>
              </li>
            <% end -%>
            <li><%= link_to 'All Scotches', scotches_path %></li>

            <li><%= link_to 'Scotch Enthusiasts', users_path  %></li>
          </ul>
        </div>

        <div class="column span-6 last">
          
          <ul>
            <% if signed_in? %>
              <li><%= link_to 'Sign out', sign_out_path %></li>
            <% else %>
              <li><%= link_to 'Sign in', sign_in_path %></li>
            <% end %>
          </ul>
        </div>
      </div>


      <div id="content" class="span-24">
        <% [:notice, :error, :warning].each do |key|  %>
          <% if flash[key].present? %>
            <div id="<%= key %>">
              <%= flash[key] %>
            </div>
          <% end %>
        <% end %>

        <h2><%= page_title %></h2>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
