<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %> @ The Scotch Zone</title>
    <%= stylesheet_link_tag 'http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css' %>
    <%= javascript_include_tag 'http://code.jquery.com/jquery-1.4.4.min.js' %>
    <%= javascript_include_tag 'http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
        <h1>The Scotch Zone</h1>
      </div>

      <div data-role="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
